.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #0000003a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Navbar {
  left: 1px;
  top: 20px;
  bottom: 20px;

  /* background-color: rgb(255, 255, 255); */
  background: rgba(214, 214, 214, 0.404);
  border-radius: 15px;
}

.text-navbar {
  font-size: 20px;
}
.logo-text {
  color: rgba(0, 0, 255, 0.24);
}
.body-4 {
  color: rgb(0, 0, 0);
  background: rgba(255, 255, 0, 0.596);
}

.body-5 {
  color: rgb(0, 0, 0);
  background: yellow;
}

.nav-a {
  color: #030e11;
  font-style: normal;
}
